<a href="https://colab.research.google.com/github/DanishChaudhary/Practice_for_ML/blob/main/Countries_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('sample_data/Countries.csv')

In [63]:
df.head()

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
0,Afghanistan,Islamic State of Afghanistan,Afghan afghani,Kabul,Southern Asia,Asia,Afghan,33.0,65.0,383560.0,...,41128771,27.01610,30181937,10946834,2.14,2.97,Authoritarian,12.9,Ashraf Ghani,President
1,Albania,Republic of Albania,Albanian lek,Tirana,Southern Europe,Europe,Albanian,41.0,20.0,11655.5,...,2775634,35.71430,1004807,1770827,2.62,5.98,Hybrid regime,33.7,Edi Rama,Prime Minister
2,Algeria,People's Democratic Republic of Algeria,Algerian dinar,Algiers,Northern Africa,Africa,Algerian,28.0,3.0,413588.0,...,44903225,8.10811,11328186,33575039,1.71,3.50,Authoritarian,24.0,Abdelmadjid Tebboune,President
3,Andorra,Principality of Andorra,Euro,Andorra la Vella,Southern Europe,Europe,Andorran,42.5,1.5,187.2,...,79824,46.42860,9730,70094,3.17,0.00,Unknown,38.9,Xavier Espot Zamora,Head of Government
4,Angola,People's Republic of Angola,Angolan kwanza,Luanda,Middle Africa,Africa,Angolan,-12.5,18.5,569525.0,...,35588987,33.63640,11359649,24229338,2.24,3.62,Authoritarian,12.4,João Lourenço,President

In [ ]:
#which country has the highest population
#what is the capital of the country with highest population
#which country has the least population
#what is the capital of the country with least population
#give me top 5 countries with highest democratic score
#how many total regions are there
#how many countries lie in Eastern Europe region
#who is the political leader of the 2nd highest populated country
# how many countries are there whoes political leaders are unknown
#how many country have Republic in their full name
#which country in african region has highest population

In [66]:
df.shape

(194, 64)

In [67]:
df['population']

0      41128771
1       2775634
2      44903225
3         79824
4      35588987
         ...
189    98186856
190     5043612
191    33696614
192    20017675
193    16320537
Name: population, Length: 194, dtype: int64

In [68]:
#which country has the highest population
df[df['population'].max() == df['population']]['country']

75    India
Name: country, dtype: object

In [69]:
#what is the capital of the country with highest population
df[df['population'].max() == df['population']]['capital_city']

75    New Delhi
Name: capital_city, dtype: object

In [70]:
#which country has the least population
df[df['population'].min() == df['population']]['country']

179    Tuvalu
Name: country, dtype: object

In [71]:
pd.isna(df).sum()

country             0
country_long        0
currency            0
capital_city        0
region              0
                   ..
democracy_score     0
democracy_type      0
median_age          0
political_leader    7
title               7
Length: 64, dtype: int64

In [72]:
#what is the capital of the country with least population
df[df['population'].min() == df['population']]['capital_city']

179    Funafuti
Name: capital_city, dtype: object

In [73]:
#give me top 5 countries with highest democratic score
df.nlargest(5, 'democracy_score')['country']

127         Norway
74         Iceland
164         Sweden
122    New Zealand
46         Denmark
Name: country, dtype: object

In [74]:
df['democracy_score']

0      2.97
1      5.98
2      3.50
3      0.00
4      3.62
       ...
189    3.08
190    4.39
191    1.95
192    5.61
193    3.16
Name: democracy_score, Length: 194, dtype: float64

In [75]:
# df.sort_values('democracy_score', ascending=False, inplace=True)

In [76]:
df['democracy_score']

0      2.97
1      5.98
2      3.50
3      0.00
4      3.62
       ...
189    3.08
190    4.39
191    1.95
192    5.61
193    3.16
Name: democracy_score, Length: 194, dtype: float64

In [77]:
df.head()

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
0,Afghanistan,Islamic State of Afghanistan,Afghan afghani,Kabul,Southern Asia,Asia,Afghan,33.0,65.0,383560.0,...,41128771,27.01610,30181937,10946834,2.14,2.97,Authoritarian,12.9,Ashraf Ghani,President
1,Albania,Republic of Albania,Albanian lek,Tirana,Southern Europe,Europe,Albanian,41.0,20.0,11655.5,...,2775634,35.71430,1004807,1770827,2.62,5.98,Hybrid regime,33.7,Edi Rama,Prime Minister
2,Algeria,People's Democratic Republic of Algeria,Algerian dinar,Algiers,Northern Africa,Africa,Algerian,28.0,3.0,413588.0,...,44903225,8.10811,11328186,33575039,1.71,3.50,Authoritarian,24.0,Abdelmadjid Tebboune,President
3,Andorra,Principality of Andorra,Euro,Andorra la Vella,Southern Europe,Europe,Andorran,42.5,1.5,187.2,...,79824,46.42860,9730,70094,3.17,0.00,Unknown,38.9,Xavier Espot Zamora,Head of Government
4,Angola,People's Republic of Angola,Angolan kwanza,Luanda,Middle Africa,Africa,Angolan,-12.5,18.5,569525.0,...,35588987,33.63640,11359649,24229338,2.24,3.62,Authoritarian,12.4,João Lourenço,President

In [101]:
#how many total regions are there
df['region'].nunique()

22

In [120]:
df['region'].value_counts()

region
Eastern Africa               17
Western Asia                 17
Western Africa               16
Southern Europe              15
Caribbean                    13
South America                12
South-Eastern Asia           11
Northern Europe              10
Middle Africa                10
Eastern Europe               10
Western Europe                9
Southern Asia                 9
Central America               8
Northern Africa               6
Micronesia                    5
Southern Africa               5
Eastern Asia                  5
Central Asia                  5
Melanesia                     4
Polynesia                     3
Australia and New Zealand     2
Northern America              2
Name: count, dtype: int64

In [119]:
df[df['region'] == 'Eastern Europe'].shape[0]

10

In [113]:
df['region'].value_counts()['Eastern Europe']

np.int64(10)

In [155]:
 #who is the political leader of the 2nd highest populated country
df.sort_values('population', ascending=False).iloc[1]['political_leader']

'Xi Jinping'

In [157]:
# how many countries are there whoes political leaders are unknown
df['political_leader'].isna().sum()

np.int64(7)

In [194]:
#how many country have Republic in their full name
def find(text):
    if 'Republic' in text:
        return 1
    else:
        return 0

In [195]:
df['country_long'].apply(find).sum()

np.int64(125)

In [196]:
df['country_long'].str.contains('Republic', case=False).sum()

np.int64(125)

In [227]:
#which country in african region has highest population
df[df['continent'] == 'Africa'].sort_values('population', ascending=False).head(1)['country']

125    Nigeria
Name: country, dtype: object